* {
	padding: 0;
	margin: 0;
	font-family: 'Poiret One', cursive;
	scroll-behavior: smooth;
}
html,
body {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
body {
  min-height: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
a:visited {
	color: inherit;
	text-decoration: none;
}
li {
	list-style-type: none;
}

.menu__bar {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
		position: relative;
		z-index: 99;
		flex-wrap: wrap;
		text-align: center;
	}
.menu__item {
	padding: 1rem;
	color: #24394a;
	font-weight: bold;
}
.menu__bar > a:nth-child(6) > li:nth-child(1) {
	background-color: #A9BDC9;
	color: #24394a;
}
.menu__item:hover {
	cursor: pointer;
	border-bottom: 1px solid black;
}

.menu__item img {
	width: 15px;
}

.hub_image {
	background-image: url(images/leaves.jpeg);
	height: 610px;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
}
.hub_copy {
	position: relative;
	background: transparent;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	left: 40%;
	top: 27%;
	padding: 2rem;
	color: #24394a;
}
.hub_copy::after {
  content: "";
  border-bottom: 4px solid black;
  position: absolute;
  width: 72px;
  margin-top: 10px;
}
.hub_copy > p:nth-child(2) {
	font-size: 20px;
}
.second_box {
	height: auto;
	background: #96CEB4;
}
.second_box_copy {
	width: 48%;
	text-align: center;
	margin: auto;
	font-size: 28px;
	padding: 6rem;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	color: black;
}
.third_box {
	height: 400px;
	background-size: cover;
	background-image: url(images/books.jpeg);
	height: 370px;
	background-size: cover;
	background-position: center;
	-webkit-background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	padding: 1rem;
}
.third_box_copy {
	width: 50%;
	height: 100%;
	background: #e9f2f5;
	opacity: 0.8;
	position: relative;
}
.third_box_copy > ul:nth-child(1) {
	position: relative;
	display: block;
	width: 200px;
	height: 130px;
	margin: auto;
	padding: 7rem;
	text-align: center;
	line-height: 30px;
}
.third_box_title {
	font-size: 30px;
	margin-right: 30px;
}
.fourth_box {
	display: flex;
	height: auto;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}
.fourth_box > iframe:nth-child(1) {
	border: 0;
	width: 50%;
	height: 370px;
}
.icon {
	width: 19px;
	position: relative;
	top: 5px;
}
.contact_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	color: white;
	background-image: linear-gradient(to top left, white 0%, white 0%, transparent), url('images/ph-8.jpg');
	background-size: cover;
}
.contact_item {
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.contact_item_title {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}
.contact_item_title::after {
  content: ;
  content: "";
  position: absolute;
  border-bottom: 3px solid white;
  width: 44px;
  height: 50px;
  text-align: ;
  margin-left: -73px;
}
.footer {
	display: flex;
	color: black;
	width: 100%;
	height: auto;
	background-color: transparent;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: relative;
	bottom: 0;
	left: 0;
}
.footer_copy {
	color: black;
	padding: 10px;
	font-weight: 100;
}
.blog_container {
	height: auto;
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: auto;
	background-color: white;
	padding-top: 5rem;
}
.blog_post {
	margin: 2rem 0rem;
	background-image: linear-gradient(to bottom, #FFEEAD, white);
	padding: 3rem;
	height: auto;
}
.post_image {
	position: relative;
	display: block;
	float: right;
	padding: 0 0 1rem 2rem;
}
.post_copy {
	position: relative;
}
.post_title {
	padding-bottom: 20px;
}



.service_container {
	height: auto;
	display: flex;
	flex-direction: row;
	width: 82%;
	margin: auto;
	background-color: white;
	padding-top: 7rem;
	flex-wrap: wrap;
}
.service_box {
  border: 1px solid white;
  position: relative;
  background-color: white;
  padding: 1em;
}
.service_item {
  padding: 4rem;
  border: 1px solid #516d75;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 30px;
  background-color: #7cab87;
  opacity: 0.8;
  background-image: url(images/leaves.jpeg);
  width: 240px;
  background-size: cover;
  height: 320px;
}
.service_copy {
  text-align: center;
  font-weight: bold;
  height: 100%;
}
.service_copy h2 {
  margin-bottom: 20px;
}
div.service_item:nth-child(4) {
 background-image: url(images/leaves.jpeg);
}
div.service_item:nth-child(3) {
 background-image: url(images/leaves.jpeg);
}
div.service_item:nth-child(2) {
 background-image: url(images/leaves.jpeg);
}

body > h1:nth-child(2) {
 position: absolute;
 padding: 1rem;
 width: 280px;
 margin: auto;
 text-align: center;
 background-color: #88D8B0;
}

.about_container {
 height: 100%;
 display: flex;
 flex-direction: column;
 text-align: center;
 margin: 1rem;
 padding: 5rem 0rem 0rem;
}
.about_copy {
  padding-bottom: 2rem;
  width: 60%;
  margin: auto;
}
.about_image {
  padding-bottom: 2rem;
}
.about_image img {
  border-radius: 50%;
  height: 100%;
}

.item-1,
.item-2,
.item-3 {
	position: absolute;
	display: block;
	width: 68%;
	font-size: 27px;
	color: black;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	font-family: Niconne;
	margin-top: 17%;
	margin-bottom: 19%;
	margin-left: -12%;
	margin-right: auto;
}
.item-1 {
	animation-name: anim-1;
}
.item-2 {
	animation-name: anim-2;
}
.item-3 {
	animation-name: anim-3;
}
@keyframes anim-1 {
	0%, 8.3% {
		left: -100%;
		opacity: 0;
	}
	8.3%,
	25% {
		left: 25%;
		opacity: 1;
	}
	33.33%,
	100% {
		left: 110%;
		opacity: 0;
	}
}
@keyframes anim-2 {
	0%, 33.33% {
		left: -100%;
		opacity: 0;
	}
	41.63%,
	58.29% {
		left: 25%;
		opacity: 1;
	}
	66.66%,
	100% {
		left: 110%;
		opacity: 0;
	}
}
@keyframes anim-3 {
	0%, 66.66% {
		left: -100%;
		opacity: 0;
	}
	74.96%,
	91.62% {
		left: 25%;
		opacity: 1;
	}
	100% {
		left: 110%;
		opacity: 0;
	}
}
/*Responsive*/

@media (max-width: 981px) {
	.third_box_copy {
		width: 100%;
	}
	.third_box_copy > ul:nth-child(1) {
		width: 80%;
		padding: 0;
		padding-top: 100px;
	}
	.second_box_copy {
		width: 70%;
		padding: 0;
		padding-top: 50px;
	}
.menu__bar {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		position: absolute;
		z-index: 99;
		flex-wrap: wrap;
		text-align: center;
		flex-direction: column;
	}
	.fourth_box {
		display: flex;
		height: auto;
		width: 100%;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}
	.fourth_box > iframe:nth-child(1) {
		border: 0;
		width: 100%;
		height: 300px;
	}
	.contact_box {
		background-color: #709788;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 300px;
	}
	.post_image img {
		height: 150px !important;
	}
	.post_image {
	position: relative;
	display: block;
	float: none;
	padding: 0;
	text-align: center;
	margin-bottom: 20px;
}
	body > h1:nth-child(2) {
	 position: relative;
	 top: 50px;
	 padding: 1rem;
	 width: auto;
	 margin: auto;
	 text-align: center;
	 background-color: #7cab87;
	 margin-top: 151px;
}
.menu__item:hover {
	cursor: pointer;
	border-bottom: 0px solid black;
}
}

@media (max-width: 981px) {
	.third_box_copy {
		width: 100%;
	}
	.third_box_copy > ul:nth-child(1) {
		width: 80%;
		padding: 0;
		padding-top: 100px;
	}
	.second_box_copy {
		width: 70%;
		padding: 0;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.hub_image {
		background-image: linear-gradient(to bottom, white 10%, white 10%, transparent), url(images/leaves.jpeg);		
		height: 456px;
		background-position: bottom;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.hub_copy {
		position: relative;
		background: transparent;
		text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
		left: 4%;
		top: 1%;
		width: 280px;
	}
.menu__bar {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		position: absolute;
		z-index: 99;
		flex-wrap: wrap;
		text-align: center;
		flex-direction: column;
	}
	.fourth_box {
		display: flex;
		height: auto;
		width: 100%;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}
	.fourth_box > iframe:nth-child(1) {
		border: 0;
		width: 100%;
		height: 300px;
	}
	.contact_box {
		background-color: #709788;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 300px;
	}
	.post_image img {
		height: 150px !important;
	}
	.post_image {
	position: relative;
	display: block;
	float: none;
	padding: 0;
	text-align: center;
	margin-bottom: 20px;
}
	body > h1:nth-child(2) {
	 position: relative;
	 top: 50px;
	 padding: 1rem;
	 width: auto;
	 margin: auto;
	 text-align: center;
	 background-color: #7cab87;
	 margin-top: 151px;
}
}

.contact_box {
background-color: 
hsla(200,40%,30%,.4);
    background-image:       
        url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
        url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
        0 20%,
        0 100%,
        0 50%,
        0 100%,
        0 0;
    background-size: 
        2500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
    animation: 50s para infinite linear;
    }

@keyframes para {
    100% {
        background-position: 
            -5000px 20%,
            -800px 95%,
            500px 50%,
            1000px 100%,
            400px 0;
        }
    }

